/*DESKTOP VERSION*/


.body-class-addtask {
    background-color: #F6F7F8;

}

.task-headline {
    margin-left: 328px;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
}

.maincontainer-desktop {
    display: flex;
    justify-content: space-between;
    max-width: 976px;
    width: auto;
    height: 424px;
    margin-left: 328px;
}

.left-field-section {
    width: 100%;
    max-height: 376px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.parting-line {
    width: 1px;
    height: 424px;
    background-color: #D1D1D1;
    margin: 0 40px;
}

.right-field-section {
    width: 100%;
    height: 376px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addtaks-desktop {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.prio-buttons {
    display: flex;
    gap: 20px;
}


.prio-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 56px;
    gap: 16px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    font-weight: 400;
    font-size: 20px;

}



.urgent-button:hover,
.urgent-button.selected {
    background-color: #FF3D00;
    color: white;
}





.medium-button:hover,
.medium-button.selected {
    background-color: #FFA800;
    color: white;
}



.low-button:hover,
.low-button.selected {
    background-color: #7AE229;
    color: white;
   

}

.urgent-button:hover img,
.urgent-button.selected img,
.medium-button:hover img,
.medium-button.selected img,
.low-button:hover img,
.low-button.selected img {
    filter: brightness(0) invert(1);
    
}

.maincontainer-desktop span {
    font-weight: 400;
    font-size: 20px;
}

.maincontainer-desktop input {
    /*width: 100%;*/
    height: 48px;
    
    /*border: 1px solid #D1D1D1;*/
}

.maincontainer-desktop input::placeholder {
    color: #D1D1D1;
}

.title-select-or-input:focus {
    outline: none;
    border-color: #29ABE2 !important;
}

.addTask-textarea:focus {
    outline: none;
    border-color: #29ABE2 !important;
}

.addtaks-desktop input.title-select-or-input {
    padding: 12px 21px;
    box-sizing: border-box;
}

.title-select-or-input:hover {
    cursor: pointer;
}

.urgent-button:hover {
    background-color: #FF3D00;
    cursor: pointer;
}

.medium-button:hover {
    background-color: #FFA800;
    cursor: pointer;
}

.low-button:hover {
    background-color: #7AE229;
    cursor: pointer;
}

.maincontainer-desktop select {

    height: 48px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #D1D1D1;
}

.required-info {
    font-size: 12px !important;
    color: #FF8190;
    margin-top: 4px;
    display: none;
}

.required-bottom-info {
    display: flex;
    align-items: end;
    font-size: 16px;
    font-weight: 400;
    
    height: 27px;
}

.last-section {
    display: flex;
    justify-content: space-between;
    max-width: 976px;
    margin-left: 328px;
    align-items: end;
    margin-top: 138px;
}

.button-last-section {

    gap: 16px;
    display: flex;
    align-items: center;
}

.clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 16px;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    gap: 4px;
}

.create-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 16px;
    box-sizing: border-box;
    background-color: #2A3647;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700px;
    gap: 4px;

}

.clear-button:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.create-task-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.title-select-or-input[type="date"] {
    font-family: Arial, sans-serif;
}

.title-select-or-input {
    font-size: 20px;
    width: 100%;
    height: 136px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.addTask-textarea {
    font: 1em sans-serif;
    font-size: 20px;
    max-width: 447px;
    min-width: 447px;
    max-height: 136px;
    min-height: 136px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
}

.input-with-button {
    position: relative;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.input-with-button input {
    padding-right: 30px;
    /* Platz für den Button reservieren */
    width: 100%;
    /* Vollständige Breite des Containers */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.input-with-button button {
    position: absolute;
    top: 35%;
    right: 3%;
    height: 100%;
    border: none;
    background-color: transparent;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.input-button-img {
    width: 14px;
    height: 14px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-with-button button .input-button-img {
    display: flex;
}

.subtask-parting-line {
    margin-left: 2px;
    margin-right: 2px;
}

.subtask-clear-confirm-img {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.clear-confirm-btn {
    padding: 5px;
    border: none;
    background-color: transparent;
}

.clear-confirm-btn:hover {
    cursor: pointer;
    border-radius: 100% !important;	
}

.clear-confirm-subtask {
    display: none;
}

.height-btn{
    height: 15px !important;
}



.input-with-button button:hover {
    border-radius: 32px;
    background-color: lightgray;
}

#subtaskList {
    overflow-y: auto;
    max-height: 138px;
}

.edit-delete-img {
    margin-left: auto;
}

#assignedInitial {
    display: flex;
    flex-wrap: wrap;
}






/*DOPPDOWN*/

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
    /* Stelle sicher, dass das Dropdown-Menü unter dem Dropdown-Inhalt liegt */
}

.rotate {
    transform: rotate(180deg);
}



.dropdown-button {
    background-color: #ffffff;
    color: black;
    z-index: 99;
    /* Setze die z-index des Dropdown-Buttons höher als die des Dropdown-Inhalts */
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* Füge relative Positionierung hinzu */
}

.dropdown-button-category {
    background-color: #ffffff;
    color: black;
    z-index: 2; /* Setze die z-index des Dropdown-Buttons höher als die des Dropdown-Inhalts */
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Füge relative Positionierung hinzu */
}

.dropdown-edit-button {
    background-color: #ffffff;
    color: black;
    z-index: 2;
    /* Setze die z-index des Dropdown-Buttons höher als die des Dropdown-Inhalts */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 440px;
    height: 48px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* Füge relative Positionierung hinzu */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 99.8%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 98;
    border-radius: 8px;
    border: 1px solid lightgray;
    overflow-y: auto;
    max-height: 214px;
    top: calc(100% - 8px);
    /* Positioniere den Dropdown-Inhalt ein wenig über dem Dropdown-Menü */
    
}

.dropdown-content-category {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 99.5%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    border: 1px solid lightgray;
    top: calc(100% - 8px);
    padding-top: 8px;
    /* Positioniere den Dropdown-Inhalt ein wenig über dem Dropdown-Menü */
}

.dropdown-edit-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 440px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    border: 1px solid lightgray;
    overflow-y: auto;
    max-height: 320px;
    top: calc(100% - 8px);
    /* Positioniere den Dropdown-Inhalt ein wenig über dem Dropdown-Menü */
    left: 0;
}

.show-assign {
    display: block;
}

.show {
    display: block;
}

.dropdown-content label {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    flex-direction: row;
    /* Ändere die Ausrichtung auf "row", um ein nebeneinander liegendes Layout zu erzwingen */
    margin-top: 8px;
}

.dropdown-edit-content label {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    flex-direction: row;
    /* Ändere die Ausrichtung auf "row", um ein nebeneinander liegendes Layout zu erzwingen */
    margin-top: 8px;
}

.dropdown-content label:hover {
    background-color: blue;

}

.dropdown-content label:hover {
    background-color: #f9f9f9;
}

.dropdown-content input[type="checkbox"] {
    height: 10px;
    width: 10px;
    margin-left: auto;
}

.assign-initials {
    margin-right: 10px;
    padding: 3px 6px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    color: white;
}

.assign-name {
    display: flex;
    font-size: 16px;
    font-weight: 400;
}

.d-none {
    display: none;
}

.addTask-interaction-container{
    display: flex;
    
}

.subtask-item {
    display: flex;
    align-items: center; /* Zentriert die Inhalte vertikal */
    width: 100%;
    border: none;
}

.edit-delete-addtask {
    margin-left: auto;    
}

.edit-delete-img {
    display: none; /* Standardmäßig versteckt */
}




.subtask-item:hover .edit-delete-img {
    display: flex; /* Wird angezeigt, wenn über das .subtask-item gehovert wird */
    gap: 8px;
}

.editInputSubtask {
    width: 87%;
    height: 32px !important;
    background-color: transparent;
    font-size: 20px;
    border-color: transparent;
    border: none;
    border-bottom: 1px solid #29ABE2;
}

.edit-and-delete-img {
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.edit-li {
    display: flex;
    width: 100%;
    align-items: center;
}

.disc {
    display: inline-block;
    width: 50px;  /* Durchmesser der Disc */
    height: 50px; /* Durchmesser der Disc */
    background-color: #3498db; /* Farbe der Disc */
    border-radius: 50%; /* Macht das Element rund */
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.confirm-msg {
    animation: slideInFromBottom 0.5s ease-out forwards;
    display: none; /* Start with the message hidden */
    position: fixed; /* Position it on top of the page content */
    bottom: 20px; /* Position it at the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center it */
}

.edit-delete-img{
    display: flex;
    gap: 8px;
    
}

.btn-hover-task {
    border-radius: 100%; 
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.btn-hover-task:hover {
    background-color: rgba(128, 128, 128, 0.171);
    cursor: pointer;
}




@media (max-width: 1380px){

    .task-headline {
        margin-left: 250px;
    }

    .maincontainer-desktop{
        margin-left: 250px;
    }
}

@media (max-width: 1240px){

    .task-headline {
        margin-left: 328px;
    }

    .prio-buttons{
        gap: 0px;
        justify-content: space-between;
    }

    .addTask-form{
        height: calc(100vh - 275px);
        margin-left: 328px;
       
        overflow: auto;
    }

    .maincontainer-desktop{
        margin-left: 0px;
        width: 100%;
        max-width: 600px;
        height: 100vh;
        
    }

    .last-section {
        max-width: 600px;
        align-items: center;
        width: 100%;
        height: 88px;
        margin-top: 0px;
        position: fixed;
        bottom: 0;
        background-color: #f6f7f8;
        margin-left: 0;
    }

    .addTask-textarea{
        max-width: 100%;
        min-width: 100%;
    }

    .parting-line {
        display: none;
    }

    .addTask-interaction-container{
        flex-direction: column;
    }
}


@media (max-width: 1000px){
    .task-headline {
        margin-left: 250px;
    }
    
    .addTask-form{
        margin-left: 250px;
        
    }
}


@media (max-width: 900px) {


    .addTask-interaction-container{
        
        flex-direction: column;
        
    }

    .prio-buttons button {
        min-width: 80px;
        max-width: 122px;
        height: 56px;
        font-size: 16px;
        gap: 8px;
        justify-content: center;

    }

    
    .maincontainer-desktop span {
        margin-bottom: 8px;
    }

    .addTask-form {
        margin-left: 60px;
        margin-right: 60px;
    }


    .clear-button {
        display: none;
    }

    .parting-line {
        display: none;
    }

    .maincontainer-desktop {
        flex-direction: column;
        margin: 0;
        padding-right: 60px; /*--Setzt den scroll balken an den äußeren rand--bei bedarf auch gerne löschen--*/
    }

    .addTask-form {
        height: calc(100vh - 176px);
    }
    
    .maincontainer-desktop {
        height: calc(100% - 195px);
        overflow-x: auto;
        width: auto; /* Ensures that the width can grow beyond the parent if content overflows */
        min-width: 100%; /* Ensures that the container is at least as wide as its parent */
        
    }

    .right-field-section {
        gap: 0;
    }

    .category-dropdown-txt {
        margin-bottom: 0 !important;
    }

    .last-section {
        height: 88px;
        position: fixed;
        left: 0;
        bottom: 80px;
        background-color: #f6f7f8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .task-headline {
        position: sticky;
    }

    .maincontainer-desktop {
        width: 100%;
    }

    .left-field-section {
        width: 100%;
        gap: 0;

    }

    .last-section {
        width: 100%;
    }

    .prio-buttons{
        width: 100%;
    }


    .task-headline {
        margin-left: 60px;
        font-size: 40px;
        line-height: 14px;
        height: 56px;
        position: static;
        margin-top: 24px;
        margin-bottom: 0;
    }

    .addTask-textarea {
        min-height: 100px;
        max-height: 100px;
        max-width: 100%;
        min-width: 100%;
    }

    .required-bottom-info{
        margin-left: 60px;
    }

    .button-last-section{
        margin-right: 60px;
    }
}


@media (max-width: 600px){

    .dropdown-button {
        font-size: 16px;
        
    }

    .addTask-textarea{
        font-size: 16px !important;
    }

    .title-select-or-input{
        font-size: 16px !important;
    }

    .required-bottom-info{
        margin-left: 30px;
    }

    .button-last-section{
        margin-right: 30px;
    }

    .addTask-form{
        margin-left: 30px ;
        margin-right: 30px  ;    
    }

    .maincontainer-desktop {
        font-size: 16px !important;
        padding-right: 30px;
    }

    .maincontainer-desktop span {
        font-size: 16px !important;
    }

    .task-headline{
        margin-left: 30px;
    
    }
}

@media (max-width: 450px){

    .required-bottom-info{
        margin-left: 16px;
    }

    .button-last-section{
        margin-right: 16px;
    }

    .addTask-form{
        margin-left: 16px ;
        margin-right: 16px  ;    
    }

    .maincontainer-desktop {
        padding-right: 16px;
    }

    .task-headline{
        margin-left: 16px;
    
    }
}

@media (max-width: 420px){
   
    .prio-buttons{
        flex-direction: column;
        gap: 8px;
    }

    .prio-buttons button {
       max-width: 555px;
       width: 100%;

    }
}

@media (min-width: 320px) and (max-width: 869px) {

    .title-select-or-input {
        height: 40px;

    }

    .create-task-button {
        padding: 2px;
        font-size: 16px;
        gap: 13px;
    }

    .create-task-button img {
        width: 15px;

    }

    .required-bottom-info {
        font-size: 12px !important;
    }

    .create-task-button {
        width: 150px;
    }

    .last-section {
        
      
    }


    .prio-buttons {
        display: flex;
        gap: 8px;
        justify-content: space-between;
    }


   

   .right-field-section {
        width: 100%;
    }

}








.hidden-radio {
    opacity: 0;
    position: absolute;
}

.dropdown-option {
    display: block;
    position: relative;
    padding-left: 16px; /* Anpassen, um genug Platz für den unsichtbaren Radiobutton zu lassen */
    cursor: pointer;
}

.dropdown-option .option-name {
    display: block;
}

.dropdown-option:hover {
    background-color: #2a3647;
    color: white;
}

.additional-initials {
    margin-right: 10px;
    padding: 3px 6px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: grey;
}

.required-mark {
    border: 2px solid red;
}

