/*DESKTOP VERSION*/

.body-class-addtask {
    background-color: #F6F7F8;
    
}

.task-headline {
    margin-left: 328px;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
}

.addtask-popup-maincontainer-desktop {
    display: flex;
    max-width: 976px;
    width: auto;
    height: 424px;
    padding: 8px;
}

.addtask-popup-left-field-section {
    width: 100%;
    max-height: 376px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addtask-popup-parting-line {
    width: 1px;
    height: 367px;
    background-color: #D1D1D1;
    margin: 0 33px;
}

.addtask-popup-right-field-section {
    width: 46%;
    height: 376px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.addtaks-desktop {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.prio-buttons {
    display: flex;
    gap: 20px;
}

.prio-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 56px;
    gap: 16px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    font-weight: 400;
    font-size: 20px;

}

.urgent-button:hover,
.urgent-button.selected {
    background-color: #FF3D00;
    color: white;
}

.medium-button:hover,
.medium-button.selected {
    background-color: #FFA800;
    color: white;
}

.low-button:hover,
.low-button.selected {
    background-color: #7AE229;
    color: white;
}

.maincontainer-desktop span {
    font-weight: 400;
    font-size: 20px;
}

.maincontainer-desktop input {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.maincontainer-desktop input::placeholder {
    color: #D1D1D1;
}

.title-select-or-input:focus {
    outline: none;
    border-color: #29ABE2 !important;
}

.addtaks-desktop input.title-select-or-input {
    padding: 12px 21px; 
    box-sizing: border-box;
}

.title-select-or-input:hover {
    cursor: pointer;
}

.urgent-button:hover {
    background-color: #FF3D00; 
    cursor: pointer;
}

.medium-button:hover {
    background-color: #FFA800;
    cursor: pointer; 
}

.low-button:hover {
    background-color: #7AE229;
    cursor: pointer; 
}



.maincontainer-desktop select {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #D1D1D1;
}

.required-info{
    font-size: 12px !important;
    color: #FF8190;
    margin-top: 4px;
    display: none;
}

.addtask-popup-required-bottom-info {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    font-weight: 400;
    width: 170px;
    height: 27px;
}

.addtask-popup-last-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 976px;
    padding: 8px;
    margin-top: 90px;
}

.addtask-edit-button-last-section {
    gap: 16px;
    display: flex;
}

.addtask-popup-clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 16px;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    gap: 4px;
}

.addtask-popup-clear-button:hover{
    cursor: pointer;
    color: #29ABE2;
    filter: brightness(0) saturate(100%) invert(32%) sepia(92%) saturate(1352%) hue-rotate(174deg) brightness(99%) contrast(101%);
    opacity: 0.9;
}

.addtask-popup-create-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    border-radius: 10px;
    border: 0px solid #fefefe;
    padding: 16px;
    box-sizing: border-box;
    background-color: #2A3647;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700px;
    gap: 4px;
}

.addtask-popup-create-task-button:hover{
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.clear-button:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.create-task-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.title-select-or-input[type="date"] {
    font-family: Arial, sans-serif;
}

.title-select-or-input {
    max-width: 440px;
    width: 100%;
    max-height: 48px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

textarea { 
    width: 100%;
    height: 136px;
    min-height: 136px;
    max-height: 136px;
    min-width: 430px;
    max-width: 430px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    
}

.addtask-popup-category {
    max-width: 440px;
    width: 100%;
    height: 48px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.input-with-button {
    position: relative;
    display: inline-block; /* Damit die Breite sich dem Inhalt anpasst */
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f7f8;
}

.input-with-button input {
    padding-right: 30px; /* Platz für den Button reservieren */
    width: 100%; /* Vollständige Breite des Containers */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-delete-img-edit-task {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 8px;
}

.input-button-img {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-with-button button:hover {
    border-radius: 32px;
    background-color: lightgray;
}

.addtask-popup-subtaskList {
    overflow-y: auto;
    max-height: 80px;
}

.edit-subtask-confirm-btn {
    width: 14px;
    height: 14px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*DOPPDOWN*/

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1; /* Stelle sicher, dass das Dropdown-Menü unter dem Dropdown-Inhalt liegt */
}

.dropdown-button {
    background-color: #ffffff;
    color: black;
    z-index: 2; /* Setze die z-index des Dropdown-Buttons höher als die des Dropdown-Inhalts */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Füge relative Positionierung hinzu */
}

.dropdown-edit-button {
    background-color: #ffffff;
    color: black;
    z-index: 2; /* Setze die z-index des Dropdown-Buttons höher als die des Dropdown-Inhalts */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 440px;
    height: 48px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Füge relative Positionierung hinzu */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 99.5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    border: 1px solid lightgray;
    overflow-y: auto;
    max-height: 320px;
    top: calc(100% - 8px); /* Positioniere den Dropdown-Inhalt ein wenig über dem Dropdown-Menü */
    left: 0;
    
}

.dropdown-edit-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 440px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
    border: 1px solid lightgray;
    overflow-y: auto;
    max-height: 320px;
    top: calc(100% - 8px); /* Positioniere den Dropdown-Inhalt ein wenig über dem Dropdown-Menü */
    left: 0;
}

.show-assign {
    display: block;
}

.show {
    display: block;
}

.dropdown-content label {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    flex-direction: row; /* Ändere die Ausrichtung auf "row", um ein nebeneinander liegendes Layout zu erzwingen */
    margin-top: 8px;
}

.dropdown-edit-content label {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    flex-direction: row; /* Ändere die Ausrichtung auf "row", um ein nebeneinander liegendes Layout zu erzwingen */
    margin-top: 8px;
}

.dropdown-content label:hover {
    background-color: blue;
    
}

.dropdown-content label:hover {
    background-color: #f9f9f9;
}

.dropdown-content input[type="checkbox"] {
    height: 10px;
    width: 10px;
    margin-left: auto;
}

.assign-initials {
    margin-right: 10px;
    padding: 3px 6px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    color: white;
}

.assign-name {
    display: flex;
    font-size: 16px;
    font-weight: 400;
} 

.d-none {
    display: none;
}

.edit-task-last-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 976px;
    padding: 8px;
    margin-top: 90px;
    margin-left: auto;
}

.edit-btn {
    gap: 16px;
    display: flex;
    margin-left: auto;
}

.create-edit-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 16px;
    box-sizing: border-box;
    background-color: #2A3647;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700px;
    gap: 4px;
}

.task-popup-x{
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 5px; 
}

.task-popup-x:hover {
    background-color: rgba(128, 128, 128, 0.171);
    cursor: pointer;
}

@media (max-width: 1870px) {
    .addtask-popup-left-field-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
    }
}

@media (max-width: 1400px) {
    .parting-line {
        margin: 0 20px;
    }

    .prio-buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

   

}

@media (max-width: 1130px){
    
}

@media (max-width: 900px){
    .hidden-responsive {
       display: none !important;
    }

    
}

@media (max-width: 400px) {
    .modal-addtask-popup {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .addtask-popup-parting-line {
        display: none;
    }

    .addtask-popup-maincontainer-desktop {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .addtask-popup-left-field-section {
        width: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
    }

    .addtask-popup-right-field-section {
        width: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
    }

    .close {
        padding-right: 8px;
    }
}









.editSub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.editInputSub {
    width: 80%;
    height: 48px;
    background-color: transparent;
    font-size: 20px;
}

.editSubImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}