.board {
    position: relative;
    display: flex;
    height: calc(100vh - 176px); 
    width: 100%;
    padding-left: 232px; /* Beibehalten, falls notwendig */
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 64px; /* Damit die Inhalte auch nach links und rechts flexibel bleiben */
    box-sizing: border-box;
}

.headlineBoard {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1125px;
    flex-wrap: wrap; /* Ermöglicht das Umbrechen bei kleinerer Bildschirmbreite */
}

.board-headline {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
    flex: 1 1 auto; /* Flexible Breite */
    margin-right: 16px; /* Abstand zur nächsten Komponente */
}

.inputSearchBar {
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    width: 100%;
    max-width: 312px;
    height: 48px;
    border-radius: 10px;
    padding: 0 8px;
    gap: 10px;
    flex-shrink: 0; /* Verhindert das Schrumpfen */
}

.inputSearchBar:focus-within {
    border: 1px solid #29ABE2;
    
}




.inputSearchBar input {
    flex-grow: 1;
}

.seperator {
    display: flex;
    border: 1px solid #d1d1d1;
    height: 31px;
}

.hover-close {
    display: flex; /* Ermöglicht die Zentrierung des Inhalts */
    align-items: center; /* Zentriert den Inhalt vertikal */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    transition: background-color 0.3s ease; /* Glatter Übergang für den Hintergrund */
    border-radius: 100%;
    padding: 5px;
}

.hover-close:hover {
    background-color: rgba(128, 128, 128, 0.171);;
    cursor: pointer;
    border-radius: 32px; /* Für einen perfekten Kreis, stellen Sie sicher, dass width und height gleich sind und border-radius mindestens die Hälfte davon */
}




.searchTaskBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    
    background-color: transparent;
    border-radius: 100%;
    padding: 5px;
}

.searchTaskBtn:hover {
    background-color: rgba(128, 128, 128, 0.171);
    cursor: pointer;
}

/* Entfernt den Hover-Effekt, wenn .searchTaskBtn aktiv ist */
.searchTaskBtn:active, .searchTaskBtn:active:hover {
    background-color: transparent; /* oder eine andere gewünschte Farbe */
}

.search-img-btn {
    display: block;
}

.search-img-btn-click {
    display: none;
}

/* Ändert die Anzeige der Bilder, wenn .searchTaskBtn aktiv ist */
.searchTaskBtn:active .search-img-btn {
    display: none;
}

.searchTaskBtn:active .search-img-btn-click {
    display: block;
}


.add-task-button-area {
    display: flex;
    justify-content: center;
    margin-left: 16px;
    flex-shrink: 0;
    align-items: center;
}

.addTaskBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid transparent;
    gap: 4px;
    font-weight: 700;
    font-size: 21px;
    color: #ffffff;
    background-color: #2a3647;
}

.addTaskBtn:hover {
    background-color: #29ABE2;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;


}

.highlight {
    background-color: yellow;
}

.columnTitle {
   display: flex;
   align-items: center;
   width: 100%;
   gap: 35px;
   color: #42525E;
}

.taskHeadline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 244px;
    padding: 8px;
}

.smallBtn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.smallBtn-mobile {
    padding: 0;
    border: none;
    background-color: transparent;
    display: none;
}

.smallBtn:hover {
    cursor: pointer;
}

.smallBtn-mobile:hover {
    cursor: pointer;
}

.borad-plus-btn{
    display: block;
}

.borad-plus-hover-btn{
    display: none;
}

.smallBtn-mobile:hover .borad-plus-btn{
    display: none;
}

.smallBtn-mobile:hover .borad-plus-hover-btn{
    display: block;
}

.smallBtn-mobile:hover {
    cursor: pointer;
}

.smallBtn-mobile:hover {
    cursor: pointer;
}

.borad-plus-btn{
    display: block;
}

.borad-plus-hover-btn{
    display: none;
}

.smallBtn:hover .borad-plus-btn{
    display: none;
}

.smallBtn:hover .borad-plus-hover-btn{
    display: block;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    
    font-size: 20px !important;
}

.tasksBoard {
    display: flex;
    flex-wrap: wrap; /* Ermöglicht das Umbrechen bei kleinerer Bildschirmbreite */
    width: 80%;
    height: 688px; /* Höhe beibehalten, falls notwendig */
    gap: 24px;
    box-sizing: border-box; /* Inklusive Padding und Border */
}

.showTasksBoard {
    display: flex;
    flex-direction: column;
    flex: 1; /* Flexible Breite mit einer Mindestbreite */
    gap: 16px;
    padding: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 550px;
    box-sizing: border-box; /* Inklusive Padding und Border */
}

.task-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 252px; /* Flexible Breite mit einer Mindestbreite */
    gap: 16px;
    
    box-sizing: border-box; /* Inklusive Padding und Border */
}

.placeholder {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px dashed grey;
    border-radius: 8px;
    background-color: #e7e7e7;
    color: #a8a8a8;
    width: 100%;
    max-width: 244px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 20px;
}

.taskCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 244px;
    border-radius: 24px;
    padding: 16px;
    gap: 10px;
    background-color: #ffffff;
    box-sizing: border-box; 
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
    color: white; 
}

.taskCard:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px #00000014;

}

.taskCard h4 {
    width: 113px;
    height: 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 16px 4px 16px;
    margin: 0;
}

[class="task-category-Technical Task"] {
    background-color: lightblue;
}

[class="task-category-User Story"] {
    background-color: blue;
}

.task-title {
    color: black;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    word-wrap: break-word;
}

.break {
    word-wrap: break-word;

}

.task-description {
    color: #a8a8a8;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
}
 
.show-initials-taskcard {
    display: flex; /* Verwende Flexbox für das Container-Layout */
    align-items: center; /* Vertikal zentrieren */
    justify-content: space-between;
}

.initials-container {
    display: flex; /* Stellt sicher, dass die Initialen horizontal angeordnet sind */
    margin-right: 10px; /* Abstand zwischen Initialen und Bild */
    font-size: 12px; /* Beispiel-Formatierung für die Initialen */
    color: black; /* Beispiel-Formatierung für die Initialen */
}

.show-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    font-size: 12px;
    font-weight: 400;
    margin-left: -6px;
    border: 2px solid white;
    color: white;
    background-color: grey;
}

.taskcard-img {
    width: 17px;
    height: 14px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.progress-bar-subtask {
    display: flex; /* Verwende Flexbox für das Container-Layout */
    align-items: center; /* Vertikal zentrieren */
    height: 20px; /* Höhe des Containers */
}

.progress-container {
    position: relative;
    width: 128px; /* Feste Breite der Progressbar */
    height: 10px; /* Höhe der Progressbar */
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%; /* Breite 100% des übergeordneten Elements */
    background-color: lightblue; /* Fortschrittfarbe in Light Blue */
}

.progress-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: lightgrey; /* Hintergrundfarbe in Light Grey */
}

.subtask-container {
    margin-left: 10px; /* Abstand zur Progressbar */
    font-size: 12px;
    color: black;
}


.rotated {
    transform: rotate(3deg);
    transition: transform 0.2s ease-in-out;
}

.taskcard:hover {
    transform: rotate(3deg);
    transition: transform 0.2s ease-in-out;
}


/* The Modal (background) */
.modal {
    display: none;
    
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow-y: auto;
}

.popup-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.modal-task-popup h4 {
    width: 30%;
    height: 28px;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 16px 4px 16px;
    margin: 0;
    color: white;
}

#modalUserTitle {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
    word-wrap: break-word;
}

#modalDescription {
    word-break: break-word;
}

.modalDate {
    display: flex;
    gap: 24px;
}

.modalPrio {
    display: flex;
    align-items: center;
    gap: 24px;
}

#modalPriorityIcon {
    height: 12px;
    
}

.assign-details {
    display: flex;
    gap: 16px;
}

.assign-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-task-popup li {
    display: flex;
    align-items: center;
    gap: 16px;
}

#modalSubtasks{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 15px;
    width: 100%;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.popup-subtask-ul {
    padding: 0;
}

.popup-subtask-list {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 8px;
    
}

.task-editing-btn {
    display: flex;
    justify-content: flex-end;
    
}

.task-editing-seperator {
    width: 1px;
    height: 24px;
    background-color: lightgrey;
}

#deleteTaskBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#deleteTaskBtn:hover{
    cursor: pointer;
}

#deleteTaskBtn button {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: initial; /* Setzt die initiale Textfarbe */
}

#deleteTaskBtn button:hover {
    cursor: pointer;
    color: #29ABE2; /* Ändert die Textfarbe beim Hovern */
}

#deleteTaskBtn button:hover img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(92%) saturate(1352%) hue-rotate(174deg) brightness(99%) contrast(101%);
    opacity: 0.6;
    
}

#editTaskBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#editTaskBtn:hover{
    cursor: pointer;
}

#editTaskBtn button {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#editTaskBtn button:hover{
    cursor: pointer;
}

#editTaskBtn button:hover {
    cursor: pointer;
    color: #29ABE2; /* Ändert die Textfarbe beim Hovern */
}

#editTaskBtn button:hover img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(92%) saturate(1352%) hue-rotate(174deg) brightness(99%) contrast(101%);
    opacity: 0.6;
    
}


[class="task-category-Technical-Task"] {
    background-color: lightblue;
}

[class="task-category-User-Story"] {
    background-color: blue;
}

/* The Close Button */

.close-addtask-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hover-close {
    display: flex; /* Ermöglicht die Zentrierung des Inhalts */
    align-items: center; /* Zentriert den Inhalt vertikal */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    transition: background-color 0.3s ease; /* Glatter Übergang für den Hintergrund */
    border-radius: 100%;
    padding: 5px;
}



.hover-close:hover {
    background-color: rgba(128, 128, 128, 0.171);;
    cursor: pointer;
    border-radius: 32px; /* Für einen perfekten Kreis, stellen Sie sicher, dass width und height gleich sind und border-radius mindestens die Hälfte davon */
}

.close-edit-section {
    height: 18px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.closeBUttonEditTask{
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 5px; 
}


.closeBUttonEditTask:hover {
    background-color: rgba(128, 128, 128, 0.171);
    cursor: pointer;
}

.close-edit {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-edit:hover,
.close-edit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-task-popup {
    background-color: #fefefe;
    margin: 5% auto;
    margin-top: -20px;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 525px;
    border-radius: 30px;;
}

.modal-addtask-popup{
    background-color: #fefefe;
    margin: auto; 
    margin-top: -20px;
    padding: 35px;
    border: 1px solid #888;
    width: 1000px;
    border-radius: 30px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}



.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.edit-task{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 525px;
    border-radius: 30px;
   
}

.edit-task h1 {
    display: none;
}

.edit-task-menü{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 976px;
    width: auto;
    max-height: 562px;
    overflow-y: auto;
    padding-right: 8px;
}

#confirmBtn {
    display: flex;
    width: 100%;
}

.show-initials-section {
    display: flex;
}

.show-initials-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 12px;
    border: 2px solid white;
    color: white;
}

.additional {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 12px;
    color: white;
    background-color: grey;
}

#subtaskListEdit {
    padding: 0;
    width: 100%;
}

.display-none-mobile-btn {
    display: none;
}

.modal-task-popup-display-block {
    display: block;
}

.modal-task-popup-display-none {
    display: none;
}

.edit-task-display-none {
    display: none;
}

.edit-list-row {
    display: flex;
    margin-top: 8px;
    word-break: break-all;
    width: 80%;
}




#taskCardPoupAnimation {
    transform: translateX(1500px);
    transition: transform 0.3s ease-in-out;
}

#taskCardPoupAnimation.slide-in {
    transform: translateX(0);
}

.background-color-search{
    background-color: #f6f7f8;
}

.task-popup-arrow {
    display: none;
}

.task-popup-arrow-hover {
    display: none;
}


.highlight {
    border: 2px dashed #666; /* Beispiel für ein Highlight-Styling */
  }

@media (max-width: 1700px) {
    .content {
        padding: 0 16px;
        overflow-y: auto;
        height: calc(100vh - 100px);
    }
}

@media (max-width: 1400px) { 
    .content {
        padding: 0 16px;
        overflow-y: scroll;
        height: calc(100vh - 100px);
    }
    
    .tasksBoard {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        max-height: 100%;
        padding-right: 8px;
    }

    .taskHeadline {
        width: 100%;
        max-width: 95%;
        position: sticky;
        left: 0;
        
    }

    .showTasksBoard {
        flex-direction: row;
        overflow-x: auto;  
    }
}


@media (max-width: 900px) {
    .board {
        padding-left: 0;
    }

    .board-headline{
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .content {
        padding: 0 16px;
        overflow-y: scroll;
        height: calc(100vh - 176px);
    }

    .task-column {
        gap: 0;
    }

    .display-none {
        display: none;
    }

    .display-none-mobile-btn {
        display: flex;
    }

    .add-task-button-area {
        height: 40px;
        width: 40px;
        margin-right: 16px;
    }

    .smallBtn {
        display: none;
    }

    .smallBtn-mobile {
        display: flex;
    }

    .task-popup-arrow {
        display: flex;
    }

    .task-popup-arrow:hover {
        filter: brightness(0) saturate(100%) invert(32%) sepia(92%) saturate(1352%) hue-rotate(174deg) brightness(99%) contrast(101%);
        opacity: 0.6;
    }
    
    .task-popup-arrow-hover {
        display: none;
    }
}


@media (max-width: 580px) {

    input {
        font-size: 16px !important;
    }
    
    body {
        padding-bottom: 80px;
    }

    .content {
        padding: 0 16px;
        overflow-y: scroll;
    }

    .inputSearchBar {
        max-width: 280px;
    }

    .tasksBoard {
        flex-direction: column;
        overflow-y: unset;
        overflow-x: unset;
        max-height: unset;
    }

    .showTasksBoard {
        height: unset;
    }

    .modal-task-popup {
        width: unset;
        max-width: unset;
    }
    
    .modal-task-popup h4 {
        width: unset;
    }

    #modalUserTitle {
        font-size: 40px;
    }
}

.taskCard-headline-board-overview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.task-popup-dropdown {
    display: none;
    position: absolute;
    right: 1%;
    top: 6%;
    gap: 8px;
    flex-direction: column;
    border: 1px solid #d1d1d1;
    border-radius: 20px 0px 20px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #2a3647;
    padding: 10px;

}

.show-move-to-category-dropdown {
    display: flex;
}

.task-popup-dropdown-btn {
    height: 100%;
    font-size: 16px;
    margin: 10px 10px; 
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color:#2a3647;
    color: white;
}

.task-popup-dropdown-btn:hover {
    cursor: pointer;
    background-color: #269dcf;
    border-radius: 8px;
}




/* Grundlegender Stil für dropZone */
.dropZone {
    border: 2px dashed #ccc; /* Gestrichelte Linie als Rand */
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9; /* Leichter Hintergrund */
}

/* Stil für dropZone, wenn ein Element darüber schwebt */
.dropZone:hover {
    background-color: #e9e9e9; /* Dunklerer Hintergrund beim Hover */
}