.board {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    padding-left: 232px; /* Beibehalten, falls notwendig */
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 64px; /* Damit die Inhalte auch nach links und rechts flexibel bleiben */
    box-sizing: border-box;
}

.headlineBoard {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1125px;
    flex-wrap: wrap; /* Ermöglicht das Umbrechen bei kleinerer Bildschirmbreite */
}

.board-headline {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
    flex: 1 1 auto; /* Flexible Breite */
    margin-right: 16px; /* Abstand zur nächsten Komponente */
}

.inputSearchBar {
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    width: 100%;
    max-width: 312px;
    height: 48px;
    border-radius: 10px;
    padding: 0 8px;
    gap: 10px;
    flex-shrink: 0; /* Verhindert das Schrumpfen */
}

.inputSearchBar input {
    flex-grow: 1;
}

.seperator {
    display: flex;
    border: 1px solid #d1d1d1;
    height: 31px;
}

.searchTaskBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 48px;
    background-color: transparent;
}

.add-task-button-area {
    display: flex;
    margin-left: 16px; /* Flexiblerer Abstand */
    flex-shrink: 0; /* Verhindert das Schrumpfen */
}

.addTaskBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid transparent;
    gap: 4px;
    font-weight: 700;
    font-size: 21px;
    color: #ffffff;
    background-color: #2a3647;
}


.columnTitle {
   display: flex;
   align-items: center;
   width: 100%;
   gap: 35px;
   color: #42525E;
}

.taskHeadline {
    display: flex;
    justify-content: space-between;
    width: 244px;
    padding: 8px;
}

.smallBtn {
    padding: 0;
    border: none;
    background-color: transparent;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f6f7f8;
}

.tasksBoard {
    display: flex;
    flex-wrap: wrap; /* Ermöglicht das Umbrechen bei kleinerer Bildschirmbreite */
    width: 100%; /* Flexible Breite */
    height: 688px; /* Höhe beibehalten, falls notwendig */
    gap: 24px;
    box-sizing: border-box; /* Inklusive Padding und Border */
}

.showTasksBoard {
    display: flex;
    flex-direction: column;
    flex: 1 1 252px; /* Flexible Breite mit einer Mindestbreite */
    gap: 16px;
    padding: 8px;
    overflow-y: auto;
    overflow-x: hidden; 
    box-sizing: border-box; /* Inklusive Padding und Border */
}

.task-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 252px; /* Flexible Breite mit einer Mindestbreite */
    gap: 16px;
    box-sizing: border-box; /* Inklusive Padding und Border */
}

.taskCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%; /* Vollständig ausfüllen */
    border-radius: 24px;
    padding: 16px;
    gap: 10px;
    background-color: #ffffff;
    box-sizing: border-box; 
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
    color: white; 
}

.taskCard h4 {
    width: 113px;
    height: 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 16px 4px 16px;
    margin: 0;
}

[class="task-category-Technical Task"] {
    background-color: lightblue;
}

[class="task-category-User Story"] {
    background-color: blue;
}

.task-title {
    color: black;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.task-description {
    color: #a8a8a8;
    font-size: 16px;
    font-weight: 400;
}
 
.show-initials-taskcard {
    display: flex; /* Verwende Flexbox für das Container-Layout */
    align-items: center; /* Vertikal zentrieren */
    justify-content: space-between;
}

.initials-container {
    display: flex; /* Stellt sicher, dass die Initialen horizontal angeordnet sind */
    margin-right: 10px; /* Abstand zwischen Initialen und Bild */
    font-size: 12px; /* Beispiel-Formatierung für die Initialen */
    color: black; /* Beispiel-Formatierung für die Initialen */
}

.show-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    font-size: 12px;
    font-weight: 400;
    margin-left: -6px;
    border: 2px solid white;
    color: white;
    background-color: grey;
}

.taskCard img{
    width: 20px;
    height: 20px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.progress-bar-subtask {
    display: flex; /* Verwende Flexbox für das Container-Layout */
    align-items: center; /* Vertikal zentrieren */
    height: 20px; /* Höhe des Containers */
}

.progress-container {
    position: relative;
    width: 128px; /* Feste Breite der Progressbar */
    height: 10px; /* Höhe der Progressbar */
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%; /* Breite 100% des übergeordneten Elements */
    background-color: lightblue; /* Fortschrittfarbe in Light Blue */
}

.progress-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: lightgrey; /* Hintergrundfarbe in Light Grey */
}

.subtask-container {
    margin-left: 10px; /* Abstand zur Progressbar */
    font-size: 12px;
    color: black;
}


.rotated {
    transform: rotate(3deg);
    transition: transform 0.2s ease-in-out;
}

.taskcard:hover {
    transform: rotate(3deg);
    transition: transform 0.2s ease-in-out;
}


/*POPUP*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-task-popup h4 {
    width: 30%;
    height: 28px;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 16px 4px 16px;
    margin: 0;
    color: white;
}

#modalUserTitle {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.modalDate {
    display: flex;
    gap: 24px;
}

.modalPrio {
    display: flex;
    align-items: center;
    gap: 24px;
}

#modalPriorityIcon {
    height: 24px;
}

.assign-details {
    display: flex;
    gap: 16px;
}

.assign-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-task-popup li {
    display: flex;
    gap: 16px;
}

.task-editing-btn {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.task-editing-seperator {
    width: 1px;
    height: 24px;
    background-color: lightgrey;
}

#deleteTaskBtn {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editTaskBtn {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


[class="task-category-Technical-Task"] {
    background-color: lightblue;
}

[class="task-category-User-Story"] {
    background-color: blue;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-edit-section {
    height: 48px;
}

.close-edit {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-edit:hover,
.close-edit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-task-popup {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 525px;
    border-radius: 30px;
}

.modal-addtask-popup{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 30px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}



.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.edit-task{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 525px;
    border-radius: 30px;
   
}

.edit-task h1 {
    display: none;
}

.edit-task-menü{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: 976px;
    width: auto;
    max-height: 500px;
    overflow-y: auto;
}

#confirmBtn {
    display: flex;
    width: 100%;
}


.edit-btn {
    gap: 16px;
    display: flex;
}

.show-initials-section {
    display: flex;
}

.show-initials-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 12px;
    border: 2px solid white;
    color: white;
}

