.board {
    position: absolute;
    top: 96px;
    left: 232px;
    height: 100%;
    width: 100%;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headlineBoard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1204px;
    position: relative;
    left: 64px;
}

.inputSearchBar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid lightgrey;
   width: 312px;
   height: 48px;
   border-radius: 10px;
   padding: 8px 16px 8px 16px;
   gap: 10px;
}

.seperator  {
    display: flex;
    border: 1px solid #d1d1d1;
    height: 31px;
}

.searchTaskBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    
}

.addTaskBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    border-radius: 10px;
    border: 1px;
    padding: 8px 16px 8px 16px;
    gap: 4px;   
    font-weight: 700;
    font-size: 21px;
    color: #ffffff;
    background-color: #2a3647;
}

.columnTitle {
   display: flex;
   align-items: center;
   position: relative;
   left: 64px;
   gap: 35px;
   color: #42525E;
}

.taskHeadline {
    display: flex;
    justify-content: space-between;
    width: 244px;
    gap: 32px;
}

.smallBtn {
    padding: 0;
    border: none;
    background-color: transparent;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f6f7f8;
}

.tasksBoard {
    display: flex;
    position: relative;
    left: 64px;
    width: 1208px;
    height: 688px;
    gap: 24px;
}

.showTasksBoard{
    display: flex;
    justify-content: space-between;
    width: 252px;
    gap: 16px;
    border: 1px dashed black;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.taskCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    border-radius: 24px;
    padding: 16px;
    gap: 10px;
    background-color: #ffffff;
    box-sizing: border-box; 
    color: white; 
}

.taskCard h4 {
    width: 113px;
    height: 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 16px 4px 16px;
}

[class="task-category-Technical Task"] {
    background-color: lightblue;
}

[class="task-category-User Story"] {
    background-color: blue;
}

.task-title {
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.task-description {
    color: #a8a8a8;
    font-size: 16px;
    font-weight: 400;
}
 
.show-initials-taskcard {
    display: flex;
}

.show-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    font-size: 10px;
}

.taskCard img{
    width: 20px;
    height: 20px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.progress-bar-subtask {
    position: relative;
    width: 128px; /* Breite der Progressbar */
    height: 20px; /* Höhe der Progressbar */
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    background-color: lightblue; /* Fortschrittfarbe in Light Blue */
}

.progress-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 10px;
    background-color: lightgrey; /* Hintergrundfarbe in Light Grey */
}

.subtask-progress {
    font-size: 12px;
    color: black;
}

.rotated {
    transform: rotate(3deg);
    transition: transform 0.2s ease-in-out;
}



/*POPUP*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

