body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}



@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-in {
    animation: 0.1s ease-out 0s slideInFromRight;
}


.d-none {
    display: none;
}

.bg {
    background-color: rgba(76, 70, 70, 0);
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;


}

.bg-edit-delete {
    background-color: rgba(76, 70, 70, 0.137);
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.contact-info-container {
    height: 100vh;
}


.contactList {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 428px;
    width: 100%;
    margin-bottom: 96px;
    height: calc(100vh - 96px);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 4px 0px 6px 0px #0000001A;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    box-shadow: 0px 4px 4px 0px #0000001A;
}

.add-new-contact-button {
    width: 352px;
    height: 56px;
    gap: 16px;
    border: 0px;
    border-radius: 10px;
    background-color: #2A3647;
    opacity: 0px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: white;
    margin-top: 22.5px;
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.add-new-contact-button img {
    width: 29.33px;
    height: 20.91px;
}

.add-new-contact-button:hover {
    cursor: pointer;
    background-color: #29ABE2;

}

.seperator {
    height: 1px;
    width: 100%;
    background-color: #D1D1D1;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.contactList-container {
    display: flex;
    margin-left: 232px;
    flex-direction: row;
    flex: 1;
}

.contact-info {
    margin-left: 55px;
    display: flex;
    gap: 30px;
    align-items: center;

}

.seperator-contact-info {
    width: 3px;
    height: 59px;
    background-color: #29ABE2;
}

.contact-info-h2 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;


}

.contact-info-span {
    font-size: 27px;
    font-weight: 400;

    text-align: center;

}

#contactInfo {
    margin-left: 62px;

}

/*contact html css*/
.show-contact {
    display: flex;
    align-items: center;

    height: 78px;
    border-radius: 10px;
    gap: 35px;
    transition: 0.5s, color 0.5s;
    padding: 15px 24px 15px 24px;
    box-sizing: border-box;

}




.show-contact:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

.show-contact.no-hover:hover {
    cursor: pointer;
    background: #2A3647;
}

.focus-button{
    background: #2A3647;
    color: white;

}

/*
.show-contact:active {
    background-color: white;
}

.show-contact:focus {
    background: #2A3647;
    color: white;
}
   

.show-contact:focus-within .initial-contact {
    border: 2px solid #FFFFFF;
}
*/
.initial-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: 2px;
    border-radius: 100%;

}

.show-contact-details {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.show-contact-email {
    color: #007cee;
    font-size: 16px;
}

/*contact user Info right*/

.user-info-header {
    display: flex;
    gap: 54px;
    align-items: center;
}

.initial-user {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    width: 100%;
    height: 120px;
    border: 3px solid;
    gap: 10px;
    border-radius: 100%;
    font-size: 47px;
    color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    box-sizing: border-box;



}

.user-info-name {
    width: 250px;
}

.user-name {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 47px;
    font-weight: 500;

    text-align: left;
    margin-right: 10px;
}

.user-edit-delete {
    display: flex;
    width: 159px;
    height: 24px;
    gap: 16px;
    opacity: 0px;
    margin-top: 8px;

}



.user-edit-delete p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;

}

.user-edit-delete-section {
    display: flex;
    gap: 8px;
}

.user-edit-delete-section img {
    width: 18.28px;
    height: 18.25px;
    top: 2.75px;
    left: 3px;
    gap: 0px;
    opacity: 0px;
}


.img-delete-contact {
    display: block; 
}

.img-delete-contact-hover {
    display: none; 
}


.user-edit-delete-section:hover .img-delete-contact {
    display: none;
}

.user-edit-delete-section:hover .img-delete-contact-hover {
    display: block; 
}

.user-edit-delete-section:hover {
    cursor: pointer;
    
    color: #29ABE2;
}

.user-edit-delete-section p:hover {
    cursor: pointer;
    font-size: 16px;
    
    line-height: 19.2px;
    
    
}

.user-edit-delete-handy {
    display: flex;
    flex-direction: column;
    width: 159px;
    height: 24px;
    gap: 16px;
    opacity: 0px;
    margin-top: 8px;

}



.user-edit-delete-handy p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;

}

.user-edit-delete-section-handy {
    display: flex;
    gap: 8px;
}

.user-edit-delete-section-handy img {
    width: 18.28px;
    height: 18.25px;
    top: 2.75px;
    left: 3px;
    gap: 0px;
    opacity: 0px;
}

.user-edit-delete-section-handy:hover {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    color: #29ABE2;
    ;
}

.contact-information-headline {
    width: 207px;
    height: 74px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.contact-info-email-phone {
    gap: 22px;
    display: flex;
    flex-direction: column;
}

.contact-info-email-phone p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 15px;
}

.contact-info-email-phone span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.contact-info-email-phone a {
    color: #007CEE;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.seperator-alphabet-container {

    height: 16px;
    gap: 10px;
    opacity: 0px;
    padding-top: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.seperator-alphabet {
    max-width: 352px;
    width: 100%;
    border: 1px solid #D1D1D1;
}

.letter {
    width: 352px;
    height: 58px;
    padding-top: 17px;
    padding-right: 36px;
    padding-bottom: 17px;
    padding-left: 36px;
    gap: 8px;
    opacity: 0px;
    box-sizing: border-box;

}

.letter span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 17px;
}

.contact-arrow-blue {
    display: none;
}

.seperator-contact-info-handy {
    display: none;
}

.button-open-edit-delete-handy {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 56px;

    opacity: 0px;
    background: #2A3647;
    border: 0px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.button-open-edit-delete-handy:hover {
    cursor: pointer;
    background-color: #29ABE2;
    ;
}

.button-open-edit-delete-handy-container {
    display: none;
}


#contactConfirmation {
    transform: translateX(500px);
}



#contactConfirmation.show-overlay-menu-user-info {
    position: absolute;
    bottom: 50px;
    right: 100px;
    transform: translateX(0);
    transition: transform 400ms ease-in-out;
}


#popUpAddContact {
    transform: translateX(500px);
    transition: transform 3s ease-in-out;
}

#popUpAddContact.slide-in {
    transform: translateX(0);
}

#popUpUbdateContact {
    transform: translateX(500px);
    transition: transform 3s ease-in-out;
}

#popUpUbdateContact.slide-in {
    transform: translateX(0);
}

#contactInfo {
    transform: translateX(500px);
    transition: transform 3s ease-in-out;
}

#contactInfo.slide-in {
    transform: translateX(0);
}

#userDeleteHandy {
    display: none;
}

@media (max-width: 1140px) {
    .initial-user {
        max-width: 100px;
        width: 100%;
        height: 100px;
        font-size: 40px;

    }

    .show-contact {
        padding: 15px 20px 15px 20px;
    }

    .user-name {
        font-size: 35px;
    }

    .user-info-header {
        gap: 40px;
    }

    #contact {
        width: 300px;
    }

    .contactList {
        width: 300px;
    }

    .seperator-alphabet-container {

        margin-right: 20px;
        margin-left: 20px;
    }

    .show-contact {
        gap: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .initial-contact {
        font-size: 16px;
        font-weight: 400;
    }

    .add-new-contact-button {
        width: 250px;

    }

}

@media (max-width: 1180px) {
    .contact-info-h2 {
        font-size: 50px;
    }

    .contact-info-span {
        font-size: 20px;
        margin-right: 10px;
    }
}

@media (max-width: 1090px) {


    .contact-info {
        gap: 25px;
        margin-left: 30px;
    }

    #contactInfo {
        margin-left: 35px;
    }

    .user-name {
        font-size: 30px;
    }

    .initial-user {
        max-width: 80px;
        width: 100%;
        height: 80px;
        font-size: 30px;
    }
}

@media (max-width: 1024px) {


    .contact-info {
        gap: 20px;
        margin-left: 30px;
    }

    .contact-info-h2 {
        font-size: 40px;
    }

}



@media (max-width: 1040px) {}

@media (max-width: 960px) {
    .contact-info-span {
        font-size: 16px;
    }

    .contact-info {
        gap: 15px;
        margin-left: 20px;
    }

    #contactInfo {
        margin-left: 20px;
    }
}

@media (max-width: 900px) {
    .menuBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: unset;
        bottom: 0;
        flex-direction: column;
        background-color: #2A3647;
        height: 80px;
        width: 100%;
        box-shadow: 0 0 4px 0 #000000;
    }

    #logoDesktop {
        display: none;
    }

    #toolText {
        display: none;
    }

    .logo.mobile {
        display: block;
    }

    #help {
        display: none;
    }

    #contentMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        top: unset;
        padding: unset;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .linkSection {
        display: flex;
        gap: 5px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        gap: 45px;
    }

    li {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .links {
        display: none;
    }


    /*.contact-info-container {
        display: none;
        height: auto;
        z-index: 999;
        position: fixed;
        left: 0;
        right: 0;
        top: 96px;
        bottom: 80px;
        background-color: #FFFFFF;
    }*/

    .contact-info-container {
        height: auto;
        width: 50%;
        left: 0;
        right: 0;
        top: 96px;
        bottom: 80px;


    }

    .contactList-container {
        margin-left: 0px;
    }

    .contactList {
        max-width: none;
        width: 50%;
        box-shadow: 4px 0px 6px 0px #0000001A;
        margin-bottom: 80px;
        height: calc(100vh - 176px);

    }

    #contact {
        width: 100%;
    }

    .seperator-alphabet {
        max-width: 100%;
        width: 100%;
    }

    .letter {
        margin-left: 20px;
    }

    .show-contact {
        max-width: 352px;

    }

    .initial-contact {
        width: 42px;

        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        text-align: center;

    }

    .add-new-contact-button {
        width: 65px;
        height: 65px;
        bottom: 90px;
        right: 20px;
        position: absolute;
        border-radius: 46px;
        border: 1px;

    }

    .add-new-contact-button span {
        display: none;
    }


    .contact-arrow-blue:hover {
        cursor: pointer;
    }

    .seperator-contact-info {
        display: none;
    }

    .contact-info {
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .contact-info-h2 {
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-top: 41px;
        font-size: 47px;
        font-weight: 700;
        line-height: 56.4px;
        text-align: left;

    }

    .contact-info-span {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .seperator-contact-info-handy {
        display: block;
        border: 3px solid #29ABE2;
        width: 90px;
        gap: 0px;
        border: 3px 0px 0px 0px;
    }

    #contactInfo {
        margin-top: 48px;
    }

    .initial-user {
        width: 80px;
        height: 80px;
    }



}

@media (max-width: 800px) {
    .show-contact {
        padding: 15px 15px 15px 15px;
    }

    .user-info-header {
        gap: 20px;
    }

    .initial-user {
        width: 70px;
        height: 70px;
        font-size: 25px;
    }

    .user-name {
        font-size: 25px;
    }
}



@media (max-width: 700px) {

    .edit-delete-desktop {
        display: none;
    }


    .show-contact {
        padding: 15px 24px 15px 24px;
        gap: 35px;
    }

    .contactList {
        width: 100%;
    }

    .contact-info-container {
        width: 100%;
        display: none;
        height: auto;
        z-index: 999;
        position: fixed;
        left: 0;
        right: 0;
        top: 96px;
        bottom: 80px;
        background-color: #FFFFFF;
    }

    .contact-arrow-blue {
        display: block;
        position: absolute;
       
        right: 20px;
        top: 48px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-arrow-blue img {
        width: 20px;
        height: 20px;
    }

    .contact-arrow-blue:hover {
        cursor: pointer;
        
    }

    .contact-arrow-blue:active {
        background-color: #EEEEEE;
        border-radius: 100%;
        width: 32px;
        height: 32px;
    }

    .button-open-edit-delete-handy-container {
        z-index: 1;
        display: block;
        bottom: 35px;
        right: 20px;
        position: absolute;
        border: 1px;
    }



    .container-edit-delete-handy {
        background-color: white;
        padding: 10px;
        height: 100px;
        width: 126px;
        gap: 10px;
        position: absolute;
        right: 16px;
        bottom: 100px;
        z-index: 1;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }



}

@media (max-width: 400px) {
    .show-contact {
        gap: 20px;
    }
}

@media (max-width: 370px) {
    .user-info-name {
        width: 200px;
    }
}