body {
    background-color: #F6F7F8;
    margin: 0 auto;
    height: 100vh;
}

.fonz-size-sing-up{
    font-size: 20px;
}

.logo {
    width: 100px;
    height: 121px;
    margin-top: 80px;
    margin-left: 77px;
}


main form {
    display: flex;
    flex-direction: column;
}

.inputfield-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.main-wrapper {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-header {
    display: flex;
    gap: 61px;
}

.back-btn {
    margin-top: 64px;
    margin-left: 48px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.signup-form {
    width: 598px;
    height: 630px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    position: relative;
}

.signupform-headline h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 61px;
}

.signupform-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 48px;
    width: 315px;
    height: 89px;
    gap: 16px;
}

.underline-headline {
    width: 150px;
    height: 3px;
    background-color: #29ABE2;
}

form {
    margin: 0px 88px;
    margin-top: 32px;
}

.inputfield-area input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
    box-sizing: border-box;
}

.inputfield-area input:focus {
    border: 1px solid #29ABE2;
}

.error {
    font-size: 12px;
    color: red;
    margin-top: 8px;
    display: none;
}

.accept-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
}

.accept-policy label a:hover {
    color: #29ABE2;
    text-decoration: underline;
    font-size: 16px !important;

}

.accept-policy label {
    font-size: 16px;
}

.signup-btn-headsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

form button {
    width: 126px;
    height: 55px;
    background-color: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    border-radius: 8px;
    border-style: none;
}

form button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-style: none;
    cursor: pointer;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
  }

  footer {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
    width: 100%;
    align-items: center;
    justify-content: center;
}

  footer a:hover {
    color: #29ABE2;
    font-weight: 700;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 312px;
    height: 74px;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.popup-content {
    background-color: #2A3647;
    border-radius: 10px;
    border: 1px solid #888;
    width: 312px;
    height: 74px;
    text-align: center;
    color: white;
}

.inputfield-area input {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    padding: 12px 21px;
    box-sizing: border-box;
    padding-right: 40px;
    background-position: calc(100% - 21px) center;
    background-repeat: no-repeat;
}

.username {
    background-image: url('../assets/img/person-addcontact.png');
}

#userEmail {
    background-image: url('../assets/img/mail-input.png');
}

#password {
    background-image: url(../assets/img/lock-password-input.png);
}

#confirmPassword {
    background-image: url(../assets/img/lock-password-input.png);
}

@media (max-width: 799px) {
    .logo {
        width: 64px;
        height: 78px;
        margin-top: 37px;
        margin-left: 38px;
    }

    .signup-form {
        width: 396px;
        height: 595px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 14px 3px #0000000A;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-top: 50px;
        position: relative;
    }

    .form-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signupform-headline h1 {
        font-size: 47px;
        font-weight: 700;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .underline-headline {
        width: 88px;
        height: 3px;
        background-color: #29ABE2;
        border-radius: 3px;
        margin-top: 16px;
    }

    .signupform-headline {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .back-btn {
        position: absolute;
        top: 10px;
        left: -10px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .back-btn img {
        width: 32px;
        height: 32px;
    }

    form {
        margin-top: 24px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .error-pw {
        margin-top: 8px;
        color: red;
        font-size: 12px;
    }

    .inputfield-area input {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #D1D1D1;
        padding: 13px 21px;
        box-sizing: border-box;
    }

    .inputfield-area input:focus {
        border: 1px solid #29ABE2;
    }

    .accept-policy {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    .accept-policy label {
        font-size: 16px;
    }

    .accept-policy a {
        color: #29ABE2;
    }

    .accept-policy a:hover {
        cursor: pointer;
        text-decoration: underline;
        font-size: 16px !important;
        
    }

    .signup-btn-headsection {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    form button {
        width: 180px;
        height: 51px;
    }

}

@media (max-width: 450px) {
    .signup-form {
        width: 290px;
    }

    .footer {
        gap: 0;
        font-size: 15px;
    }
}

@media (max-height: 910px){
    .signup-form{
        margin-top: 25px;
    }

    .footer{
        bottom: 20px;
    }

    .logo{
        margin-top: 20px;
        margin-left: 20px;
        width: 54px;
        height: 68px;
    }
}



@media (max-height: 830px){
    .signupform-headline{
        margin-top: 0px;
    }

    .underline-headline{
        margin-top: 0px;
    }

    .back-btn{
        top: -32px;
    }

    .signup-form{
        height: 520px;
    }

    .inputfield-area{
        gap: 16px;
    }

    .fonz-size-sing-up{
        font-size: 16px;
    }
}

@media (max-height: 732px){
    .signup-form{
        height: 480px;
    }

    .inputfield-area input{
        height: 40px;
    }

    .logo{
        
        width: 44px;
        height: 58px;
    }
}

@media (max-height: 732px){
    .footer{
        bottom: 5px;
    }
}