body {
    margin: 0;
}

.header {
    width: Fixed (428px);
    height: 80px;
    padding: 20px 16px 20px 16px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #0000001A;

}

.logo {
    width: 32px;
    height: 39.02px;
    gap: 10px;
    opacity: 0px;
}

.link {
    width: 40px;
    height: 40px;
    top: 20px;
    left: 372px;
    gap: 0px;
    border: 2px solid #2A3647;
    border-radius: 100%;
    opacity: 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
    background-color: #2A3647;
}

.navbar-icons {
    width: 24px;
    height: 24px;
}

li {
    display: flex;
    flex-direction: column;
}

li a {
    color: #cdcdcd;
}
