body {
    margin: 0;
    font-family: "inter", sans-serif;
}

.header {
    width: Fixed (428px);
    height: 80px;
    padding: 20px 16px 20px 16px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #0000001A;

}

.logo {
    width: 32px;
    height: 39.02px;
    gap: 10px;
    opacity: 0px;
}

#joinProfil {
    width: 40px;
    height: 40px;
    top: 20px;
    left: 372px;
    gap: 0px;
    border: 2px solid #2A3647;
    color: #269dcf;
    border-radius: 100%;
    opacity: 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    Padding: 20px, 16px, 20px, 16px;
}

#menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A3647;
    position: fixed;
    height: 80px;
    width: 100%;
    bottom: 0;
    left: 0;
}

#contentMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  
    width: 100%;  
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 428px;
    gap: 15px;
}

.menuSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.menuSection:hover {
    cursor: pointer;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
}

