body {
    margin: 0 auto;
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #f6f7f8;
    overflow-y: hidden;
    height: 100vh;
}

input:focus {
    outline: none;
}

.header {
    width: 100%;
    box-sizing: border-box;
    height: 96px;
    padding: 20px 16px 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    background-color: #ffffff;
    
}

.txtLogo {
    display: flex;
    align-items: center;
    gap: 310px;
}

.logo.mobile {
    width: 32px;
    height: 39.02px;
    gap: 10px;
    opacity: 0px;
}


#joinProfil {
    width: 40px;
    height: 40px;
    top: 20px;
    left: 372px;
    border: 2px solid #2A3647;
    color: #269dcf;
    border-radius: 100%;
    opacity: 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    Padding: 20px, 16px, 20px, 16px;
}

#loginHelp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    flex-direction: column;
    background-color: #2A3647;
    height: 100vh;  /*1024px*/
    width: 232px;
    box-shadow: 0, 0, 4, 0 #000000;
    padding: 64px, 0, 64px, 0;
    
}

#logoDesktop {
    position: fixed;
    top: 94px;
}

#contentMenu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 300px;
    height: 80px;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 15px;
    width: 100%;
}

.linkSection {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.linkSection:hover {
    cursor: pointer;
    background-color: gray;
}


.links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-direction: column;
    position: fixed;
    top: 85%;
    box-sizing: border-box;
    font-size: 16px;
}

.link-to {
    text-decoration: none;
    color: #cdcdcd;
    display: inline-block;
    width: 150px;
}

.link-to:hover {
    color: #269dcf;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #cdcdcd;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
    width: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightgrey; 
  }

/*@media (max-width: 866px) {
    body {
        overflow-y: auto;
    }
}*/


@media (max-width: 866px) {

    .menuBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: unset;
        bottom: 0;
        flex-direction: column;
        background-color: #2A3647; 
        height: 80px; 
        width: 100%;
        box-shadow: 0 0 4px 0 #000000; 
    }

    #logoDesktop {
        display: none;
    }

    #toolText {
        display: none;
    }

    .logo.mobile {
        display: block;
    }

    #help {
        display: none;
    }

    #contentMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        top: unset;
        padding: unset;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .linkSection {
        display: flex;
        gap: 5px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        gap: 45px;
    }

    li {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .links {
        display: none;
    }
}

@media (max-width: 615px) {
    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        gap: 15px;
    }

    .linkSection {
        padding: 0;
    }

    li a {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    body {
        padding-bottom: 80px;
    }
    
    .header {
        height: 80px;
    }
    
    .linkSection {
        font-size: 12px;
    }

    .menuBar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px; /* Höhe des Menüs */
    }

    #contentMenu {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

}


/**
PRIVACY POLICY CSS:
**/

.main-container-policy {
    max-width: 1016px;
    margin-left: 328px;
    overflow: auto;
    max-height: 900px;
    overflow-y: auto;  
    overflow-x: hidden;
    margin-top: 110px;
    padding: 0 100px;
}

.header-section-policy {
    display: flex;
    justify-content: space-between;

}

.header-section-policy button:hover {
    cursor: pointer;
}

.header-section-policy button {
    width: 37px;
    height: 37px;
    border-style: none;
    background-color: transparent;
}

/**
HELP DESK CSS
**/

.help-desk-main {
    max-width: 1016px;
    margin-left: 328px;
    overflow: auto;
    max-height: 900px;
    overflow-y: auto;  
    overflow-x: hidden;
    margin-top: 110px;
    padding: 0 100px;
}

.header-helpdesk {
    display: flex;
    justify-content: space-between;
}

.header-helpdesk button {
    background-color: transparent;
    border: none;
}

.header-helpdesk button:hover {
    cursor: pointer;
}

.number-how-to-use {
    font-size: 27px;
}

.how-to-use {
    display: flex;
    gap: 35px;
}


#joinProfil:hover {
    cursor: pointer;
}


.dropdown-profil {
    display: none;
    position: absolute;
    right: 30px;
    top: 95px;
    background-color: #2A3647;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
    padding: 10px 0;
}

.dropdown-profil a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 16px !important;
    height: 46px;
    width: 130px;
    display: flex;
    padding-left: 15px; 
    margin: 0 auto 10px auto; 
    align-items: center;
    margin: 10px 10px;
    margin-left: 15px;
    border-radius: 8px;
}

.dropdown-profil a:hover {
    background-color: #269dcf;
}

.show {
    display: block;
}

.responsive-help {
    display: none !important;
}

@media (max-width: 799px) {
    .responsive-help {
        display: flex !important;
    }
}