    <div class="header">
        <div class="logo-header">  
            <h1>Hier Logo</h1>
        </div>  
        <div class="info-header">
            <h3>kanban project managment tool</h3>
            <h3>?</h3>
            <h3>Profil-Bild</h3>
        </div>
    </div>
    <div class="side-bar">
        <div class="btn">
            <button id="button1">Summary</button>
            <button id="button2">Add Task</button>
            <button id="button3">Board</button>
            <button id="button4">Contacts</button>
        </div>
        <div class="legal_notice">
            <button id="button5"><a href="../../legalnotice.html">Legal Notice</a></button>
            <button id="button6"><a href="../../privacy-police.html">Privacy Police</a></button>
            <button id="button7">Log out</button>
        </div>
    </div>
    
