<div class="header">
    <div class="txtLogo">
        <img class="logo.mobile" src="assets/img/logo.mobile.png">
        <span id="toolText">Kanban Project Managment Tool</span>
    </div>
    <div id="loginHelp" onload="showLoginInitial() ">
        <a href="help.html"><img id="help" src="assets/img/help.png" alt="help"></a>
        <div id="joinProfil" onclick="dropdownMenu()">Profil</div>

        <div id="dropdownMenu" class="dropdown-profil">
            <a class="responsive-help" href="help.html">Help</a>
            <a href="legalnotice.html">Legal Notice</a>
            <a href="privacy-police.html">Privacy Policy</a>
            <a onclick="logout()">Log out</a>
        </div>
    </div>
</div>
