<div id="menuBar">
    <img src="../assets/img/logo.desktop.png" id="logoDesktop" alt="logo">
    <div id="contentMenu">
        <nav>
            <ul> 
                <li>
                    <img class="navbar-icons" src="../assets/img/summary.mobile.png">
                    <a href="summary.html">Summary</a>
                </li>
                <li>
                    <img class="navbar-icons" src="../assets/img/board.moblie.png">
                    <a href="board.html">Board</a>
                </li>
                <li>
                    <img class="navbar-icons" src="../assets/img/task.mobile.png">
                    <a href="addtask.html">Add task</a>
                </li>
                <li>                        
                    <img class="navbar-icons" src="../assets/img/contact.mobile.png"> 
                    <a href="contact.html">Contacs</a>
                </li>
            </ul>                                                       
        </nav>
    </div>
</div>