<div class="header">
    <div class="txtLogo">
        <img class="logo.mobile" src="assets/img/logo.mobile.png">
        <span id="toolText">Kanban Project Managment Tool</span>
    </div>
    <div id="loginHelp" onload="showLoginInitial() ">
        <a href="../../help.html"><img id="help" src="assets/img/help.png" alt="help"></a>
        <div class="navbar">
            <div class="dropdown">
                <button  id="joinProfil" class="dropbtn">Profile 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div> 
        </div>
    </div>
</div>
