<div class="header">
    <img class="logo" src="../assets/img/logo.mobile.png">
    <a class="link" href="">Profil</a>
</div>


<nav>
    <ul>
        <li>
            <img class="navbar-icons" src="../assets/img/summary.mobile.png">
            <a href="#">Summary</a>
        </li>
        <li>
            <img class="navbar-icons" src="../assets/img/board.moblie.png">
            <a href="#">Board</a>
        </li>
        <li>
            <img class="navbar-icons" src="../assets/img/task.mobile.png">
            <a href="#">Add task</a>
        </li>
        <li>
            <img class="navbar-icons" src="../assets/img/contact.mobile.png">
            <a href="#">Contacs</a>
        </li>
    </ul>
    
</nav>