
<div class="menuBar" id="menubar">
    <img src="assets/img/logo.desktop.png" id="logoDesktop" alt="logo">
    <div id="contentMenu">
        <nav>
            <ul id="navbar" class="navbar"> 
                <li id="summaryLink" class="linkSection">
                    <a class="link" href="summary.html"><img class="navbar-icons" src="assets/img/summaryIcon.png"> Summary</a>
                </li>
                <li id="taskLink" class="linkSection">
                    <a class="link" href="addtask.html"><img class="navbar-icons" src="assets/img/addtaskIcon.png">Add task</a>
                </li>
                <li id="boardLink" class="linkSection">
                    <a class="link" href="board.html"><img class="navbar-icons" src="assets/img/boardIcon.png">Board</a>
                </li>
                <li id="contactLink" class="linkSection">                        
                    <a class="link" href="contact.html"><img class="navbar-icons" src="assets/img/contactIcon.png"> Contacts</a>
                </li>
            </ul>                                                       
        </nav>
    </div>
    <div id="policeLinks" class="links">
        <a id="privacyPolice" class="link-to" href="privacy-police.html">Privacy Police</a>
        <a id="legalNotice" class="link-to" href="legalnotice.html">Legal Notice</a>
    </div>
</div>

