
<div class="menuBar">
    <img src="assets/img/logo.desktop.png" id="logoDesktop" alt="logo">
    <div id="contentMenu">
        <nav>
            <ul class="navbar"> 
                <li id="summaryLink" class="linkSection">
                    <a class="link" href="summary.html"><img class="navbar-icons" src="assets/img/summary.desktop.png"> Summary</a>
                </li>
                <li id="boardLink" class="linkSection">
                    <a class="link" href="board.html"><img class="navbar-icons" src="assets/img/board.desktop.png">Board</a>
                </li>
                <li id="taskLink" class="linkSection">
                    <a class="link" href="addtask_desktop.html"><img class="navbar-icons" src="assets/img/task.desktop.png">Add task</a>
                </li>
                <li id="contactLink" class="linkSection">                        
                    <a class="link" href="contact.html"><img class="navbar-icons" src="assets/img/contact.desktop.png"> Contacts</a>
                </li>
            </ul>                                                       
        </nav>
    </div>
    <div class="links">
        <a class="link-to" href="privacy-police.html">Privacy Police</a>
        <a class="link-to" href="legalnotice.html">Legal Notice</a>
    </div>
</div>

